<!doctype html>
<html lang="es-ES" ng-app="RPIWebAdmin">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="res/favicon.png" type="image/x-icon"/>
    <!-- Coloca favicon.ico y apple-touch-icon(s) en el directorio raíz -->

    <!-- build:css css/style.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- endinject -->
    <!-- endbuild -->

</head>
<body ng-cloak layout="column" ng-controller="navegacionController as nav">

    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="nav.toggleList()">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h3>RPIWebAdmin</h3>
    </md-toolbar>

    <!-- Container #2 -->
    <div class="container" layout="row" flex>

        <!-- Container #3 -->
        <md-sidenav
          ng-click="nav.toggleList()"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')"
          class="md-whiteframe-4dp">
          <md-list>
            <md-list-item ng-repeat="p in nav.paginas">
                <md-button ng-click="nav.selectPagina(p)" ng-class="{'selected' : p === nav.selected }">
                  <md-icon md-svg-icon="{{p.icono}}" class="avatar"></md-icon>
                  {{p.titulo}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content">
          <!--md-icon md-svg-icon="{{nav.selected.icono}}" class="avatar"></md-icon>
          <h2>{{nav.selected.titulo}}</h2>
          <p>{{nav.selected.content}}</p>-->
          <div ng-view></div>
        </md-content>

    </div>

<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/app.min.js -->
<!-- inject:js -->
<script src="/scripts/app.js"></script>
<script src="/scripts/routes.js"></script>
<script src="/scripts/controllers/homeController.js"></script>
<script src="/scripts/controllers/informacionController.js"></script>
<script src="/scripts/controllers/megaController.js"></script>
<script src="/scripts/controllers/navegacionController.js"></script>
<script src="/scripts/services/navegacion.js"></script>
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
